# Node modules
node_modules/

# Build outputs
dist/
build/

# Package locks
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.production
.env.staging
.env.development
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
